.certificate-top {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.certificates-section-wraper{
    margin-bottom: -50px;
    width: 100%;
    color: #fff;
}

.certficiate-tile-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.certficiate-tile-wrapper1 {
    display: flex;
    justify-content: space-evenly;
}

.certficiate-tiles {
    position: relative;
    -webkit-box-shadow: 2px 5px 46px 35px #191a1d; 
    box-shadow: 2px 5px 46px 35px #191a1d;
    border: 2px solid #000;
    opacity: 0.87;
    text-align: center;
}

#secriuty {
    background-image: url("../images/certificates/secriuty-fundamentals-certificate-black-white.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#js {
    background-image: url("../images/certificates/js-certificate-black-white.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#html5  {
    background-image: url("../images/certificates/html5-certificate-black-white.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#html-css {
    background-image: url("../images/certificates/html-and-css-certificate-black-white.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#photoshop {
    background-image: url("../images/certificates/photoshop-certificate-black-white.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#illustrator {
    background-image: url("../images/certificates/illustrator-certificate-black-white.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.certficiate-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .75);
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: ease-in 0.7s;
}

.certficiate-tiles:hover .certficiate-overlay {
    opacity: 1
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* monitors */
@media (min-width: 1800px) and (max-width: 2000px){
.certficiate-tiles {
    width: 22%;
    height: 300px;
    position: relative;
    -webkit-box-shadow: 2px 5px 46px 35px #191a1d; 
    box-shadow: 2px 5px 46px 35px #191a1d;
    border: 2px solid #000;
    opacity: 0.87;
    text-align: center;
    }

 .certificates-section-wraper{
     margin-bottom: -50px;
     height: 27%;
     width: 100%;
     color: #fff;
    }
}

@media (min-width: 1200px) and (max-width: 1799px){
    .certificate-top {
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-top: 100px;
        font-size: 2.2em;
    }

    #certficiate-tile-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding-top: 100px;
    }
    
    .certficiate-tiles {
        width: 22%;
        height: 225px;
        position: relative;
        -webkit-box-shadow: 2px 5px 46px 13px #191a1d; 
        box-shadow: 2px 5px 46px 13px #191a1d;
        border: 2px solid #000;
        opacity: 0.87;
        text-align: center;
        }

        .img-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.2em;
        }
    
     .certificates-section-wraper{
         margin-bottom: -50px;
         height: 23%;
         width: 100%;
         color: #fff;
        }
}
