.main-wrapper	{
	display: grid;
	grid-template-columns: 50% 50%;
	padding-top: 2.45vh;
}

/* pops up picture of me next to GT3 RS on hover */
#word-hover{
	transition: 0.8s;
	font-family: 'monument', sans-serif;
	color: #ffffff;
	font-size: 1.25em;
	margin-bottom: 0;
	padding-bottom: 0;
}

#word-hover:hover {
	letter-spacing: 0.9px; 
	transition: 0.6s;
	color: #bc3ae5;
}

#word-hover img {
	display:none;
}

#word-hover:hover img {
	display: block;
	position: relative;
	right: 53.7vw;
	bottom: -45vh;
	width: 45vw;
	height: 55vh;
}

/* left side main */
.left-side-main {
	grid-column-start: 1;
	grid-column-end: 2;
}

.image-container	{
	padding-top: 5vh;
	padding-left: 3.6vw;
	padding-right: 1vw;
}

.american-fork-pic {
	width: 43vw;
	height: 54vh;
	 border: 0.2vw solid #191a1d;
}

.top-text {
	color: #ffffff;
	padding-right: 0.2vw;
}

/* right side main */
.right-side-main	{
	color: #fff;
	display: flex;
	padding-right: 10vw;
	justify-content: flex-start;
	grid-column-start: 2;
	grid-column-end: 3;
}

/* Biographical and other ting */
article	a{
	font-family: fatboy-slim;
}

article p {
	margin-bottom: 3vh;
	overflow: hidden;
	font-family: 'monument', sans-serif;
}

#p1 {
	margin-bottom: 3vh;
	overflow: hidden;
	font-family: 'monument', sans-serif;
	font-size: 1.25em;
}

#p2{
	margin-bottom: 1vh;
	overflow: hidden;
	font-family: 'monument', sans-serif;
	font-size: 1.25em;
}

h3	{
	font-size: 2.2em;
	padding-top: 2vh;
	padding-bottom: 0;
	margin-bottom: 1vh;
	border-bottom: 0.4vh solid #ffffff;
	width: 29.5%;
}