
.nav	{
	width: 100%;
	padding-top: 5vh;
	display: grid;
	grid-template-columns: 50% 50%;
}

/* left nav */
.nav-left	{
	color: #ffffff;
	font-size: 1.7em;
	padding-left: 2vw;
	margin-top: 1vh;
}

.nav-left p {
	padding-left: 0;
	margin-bottom: -4vh;
}

/* right side of nav */
.nav-flex	{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

.nav .nav-flex p {
	font-size: 1.8em;
	font-family: fatboy-slim;
	font-weight: 100;
	color: white;
	padding-right: 2.6vw;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 2vh rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	position: relative;
	overflow: hidden;
	transition: 0.5s;
}

.nav .nav-flex p:hover	{
	color: #bc3ae5;
	letter-spacing: 0.3vw;
	transition: 0.5s;
	transition-timing-function: ease-out;
}

.nav .right-p 	{
	font-size: 1.4em;
	font-family: fatboy-slim;
	font-weight: 100;
	color: #ffffff;
	padding-right: 3vw;
	padding-top: 0;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 2vh rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	position: relative;
	overflow: hidden;
	transition: 0.5s;
}

.nav .right-p:hover{
	color: #bc3ae5;
	letter-spacing: 0.3vw;
	transition: 0.5s;
	transition-timing-function: ease-out;
}