
.nav	{
	width: 100%;
	padding-top: 60px;
	animation: nav-load 3575ms ease-in;
	display: grid;
	grid-template-columns: 50% 50%;
}

/* left nav */
.nav-left	{
	color: #ffffff;
	font-size: 1.7em;
	padding-left: 100px;
	margin-top: -40px;
}

.nav-left p {
	padding-left: 0px;
	margin-bottom: -48px;
}

/* right side of nav */
.nav-flex	{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

.nav .nav-flex p {
	font-size: 1.4em;
	font-family: fatboy-slim;
	font-weight: 100;
	color: white;
	padding-right: 50px;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	position: relative;
	overflow: hidden;
	transition: 0.5s;
}

.nav .nav-flex p:hover	{
	color: #add8e6;
	letter-spacing: 4px;
	transition: 0.5s;
	transition-timing-function: ease-out;
}

.nav .right-p 	{
	font-size: 1.4em;
	font-family: fatboy-slim;
	font-weight: 100;
	color: #ffffff;
	padding-right: 122px;
	padding-top: 0px;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	position: relative;
	overflow: hidden;
	transition: 0.5s;
}

.nav .right-p:hover{
	color: #add8e6;
	letter-spacing: 4px;
	transition: 0.5s;
	transition-timing-function: ease-out;
}