.top h1 {
	color: #fff;
	display: flex;
    justify-content: center;
    padding-top: 200px;
	padding-bottom: 80px;
	font-family: "fatboy-slim";
	font-size: 4.3em;
}

.squares-wrapper {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	padding-left: 200px;
	width: 80%;
}

.squares-wrapper > .squares {
    width: 80%;
}

.squares-wrapper > .squares > .square	{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 0px;
	color: #fff;
}

.square > .img-wrapper img {
	width: 100%;
    height: 200px; 
    border: 4px solid #191a1d;
	border-radius: 5px 5px 5px 5px;  
}

.img-wrapper	{
    margin-right: -175px;
    padding-bottom: 110px;
}

.square > .square-text-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0px;
	margin-top: -220px;
	padding-left: 150px;
	padding-top: 50px;
}

.square > .square-text-wrapper h1 {
	color: #fff;
	font-family: "fatboy-slim";
	text-decoration: none;
}

.square > .square-text-wrapper h1:hover	{
	color: #add8e6;
}

.square > .square-text-wrapper li {
	font-size: 1.2em;
	font-family: Helvetica, sans-serif;
	padding-top: 20px;
}

.box-3 {
	padding-left: 300px;
	text-align: center;
	color: #fff;
}

.box-3 h1{
	padding-bottom: 15px;
	color: #fff;
}

.box-3 h1:hover {		
	color: #add8e6;
}

.box-1	{
	padding-left: 230px;
	display: block;
	color: #fff;
}

.box-1 h1{
	padding-bottom: 15px;
	color: #fff;
}

.box-1 h1:hover {		
	color: #add8e6;
}